In [23]:
import pandas as pd
from pathlib import Path

DATA_PATH=Path("../data/telco_dataset_raw.csv")
df=pd.read_csv(DATA_PATH)

pd.set_option('display.max_columns', None)
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [63]:
df.columns=(df.columns.str.strip().str.lower().str.replace(" ","_").str.replace("(","").str.replace(")",""))

In [64]:
print("Dataset Shape:", df.shape)

Dataset Shape: (7032, 21)

In [ ]:
print("Data Types:\n", df.dtypes)

Data Types:
 customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                object
dtype: object

In [80]:
df["totalcharges"]=pd.to_numeric(df["totalcharges"], errors='coerce')

In [ ]:
num_cols=[c for c in df.columns if df[c].dtype!="object"]
for c in num_cols[:10]:
    print(f"\n{c}: {df[c].nunique()} unique -> ", df[c].unique()[:8],"...")

print("\nNumber of Numerical Columns: ", len(num_cols))

SeniorCitizen: 2 unique ->  [0 1] ...

tenure: 73 unique ->  [ 1 34  2 45  8 22 10 28] ...

MonthlyCharges: 1585 unique ->  [29.85 56.95 53.85 42.3  70.7  99.65 89.1  29.75] ...

TotalCharges: 6530 unique ->  [  29.85 1889.5   108.15 1840.75  151.65  820.5  1949.4   301.9 ] ...

Number of Numerical Columns:  4

In [67]:
cat_cols=[c for c in df.columns if df[c].dtype=="object"]
for c in cat_cols[:10]:
    print(f"\n{c}: {df[c].nunique()} unique -> ", df[c].unique()[:8],"...")

customerid: 7032 unique ->  ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' '7795-CFOCW' '9237-HQITU'
 '9305-CDSKC' '1452-KIOVK' '6713-OKOMC'] ...

gender: 2 unique ->  ['Female' 'Male'] ...

partner: 2 unique ->  ['Yes' 'No'] ...

dependents: 2 unique ->  ['No' 'Yes'] ...

phoneservice: 2 unique ->  ['No' 'Yes'] ...

multiplelines: 3 unique ->  ['No phone service' 'No' 'Yes'] ...

internetservice: 3 unique ->  ['DSL' 'Fiber optic' 'No'] ...

onlinesecurity: 3 unique ->  ['No' 'Yes' 'No internet service'] ...

onlinebackup: 3 unique ->  ['Yes' 'No' 'No internet service'] ...

deviceprotection: 3 unique ->  ['No' 'Yes' 'No internet service'] ...

In [68]:
print("Categorical Columns:\n")

for col in cat_cols:
    print(col)

print("\nNumber of Categorical Columns: ", len(cat_cols))

Categorical Columns:

customerid
gender
partner
dependents
phoneservice
multiplelines
internetservice
onlinesecurity
onlinebackup
deviceprotection
techsupport
streamingtv
streamingmovies
contract
paperlessbilling
paymentmethod
churn

Number of Categorical Columns:  17

In [69]:
print ("Numerical Columns:\n")
for col in num_cols:
    print(col)

print("\nNumber of Numerical Columns: ", len(num_cols))

Numerical Columns:

SeniorCitizen
tenure
MonthlyCharges
TotalCharges

Number of Numerical Columns:  4

In [70]:
print("Nulls per column:\n")
print(df.isnull().sum()[df.isnull().sum()>0])

Nulls per column:

Series([], dtype: int64)

In [71]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [79]:
duples=df[df.duplicated(subset="customerid", keep=False)]
print(duples)

print("No. of duplicates: ",duples.shape[0])

Empty DataFrame
Columns: [customerid, gender, seniorcitizen, partner, dependents, tenure, phoneservice, multiplelines, internetservice, onlinesecurity, onlinebackup, deviceprotection, techsupport, streamingtv, streamingmovies, contract, paperlessbilling, paymentmethod, monthlycharges, totalcharges, churn]
Index: []
No. of duplicates:  0

In [74]:
key_cols=["customerid","gender","seniorcitizen","partner","dependents","tenure","monthlycharges","totalcharges","churn"]
for col in key_cols:
    print(f"{col} -> {df[col].nunique()} unique values")
    print(df[col].unique()[:10],"\n")

customerid -> 7032 unique values
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' '7795-CFOCW' '9237-HQITU'
 '9305-CDSKC' '1452-KIOVK' '6713-OKOMC' '7892-POOKP' '6388-TABGU']

gender -> 2 unique values
['Female' 'Male']

seniorcitizen -> 2 unique values
[0 1]

partner -> 2 unique values
['Yes' 'No']

dependents -> 2 unique values
['No' 'Yes']

tenure -> 72 unique values
[ 1 34  2 45  8 22 10 28 62 13]

monthlycharges -> 1584 unique values
[ 29.85  56.95  53.85  42.3   70.7   99.65  89.1   29.75 104.8   56.15]

totalcharges -> 6530 unique values
[  29.85 1889.5   108.15 1840.75  151.65  820.5  1949.4   301.9  3046.05
 3487.95]

churn -> 2 unique values
['No' 'Yes']

In [76]:
print("Nulls in Total Charges:",df["totalcharges"].isna().sum())

Nulls in Total Charges: 0

In [77]:
print("No. of rows before drop: ",df.shape[0])
df=df.dropna(subset=["totalcharges"])
print("No. of rows after drop: ",df.shape[0])

No. of rows before drop:  7032
No. of rows after drop:  7032

In [78]:
df.to_csv("../data/telco_dataset_cleaned.csv", index=False)
print("Cleaned data saved to data/telco_dataset_cleaned.csv")

Cleaned data saved to data/telco_dataset_cleaned.csv